.shop-cart-table {
    margin-top: 50px;
}

table {
    background-color: aliceblue;
}


.buttons button {
    margin-right: 5px;
}

.total {
    float: right;
    font-size: 1.4rem;
    font-weight: bolder;
}

@media screen and (max-width: 992px) {
    tbody tr td:nth-child(5) {
        width: 145px;
    }

    .buttons button {
        transform: scale(.8);
        margin: 0;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .buttons button {
        transform: scale(.75);
        margin:0 -5px;
    }
}

@media screen and (max-width: 430px) {
    td:nth-child(2) {
        font-size: 13px;
    }

    .buttons button {
        transform: scale(.7);
    }
}