.shop-header{
    margin-top: 1rem;
    display: flex;
    justify-content:space-between ;
}

.logo{
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Red Hat Display', sans-serif;}

.shopping-cart{
    font-size: 1.25rem;
}

.cart-icon{
    font-size: 2rem;
    margin-right: 10px;
    color: cadetblue;
}